html,body{
    margin: 0px;
    height: 100vh;
}

body{
    display: flex;
    justify-content: center;
    color: black;
    font-weight: normal;
    font-size: 13px;
    font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
    background-color: #a9d7e9;
}

small{
    font-size:13px;
}

main{
    h1{
        display: flex;
        justify-content: center;
    }
    form{
        display: flex;
        margin: 0px 10px;
    }
    form{
        label:not([for="comm"]){
            width: 100px;
            text-align: right;
            padding-right: 10px;
        }
    }
    form > div {
        width: 100%;
    }
    form > div + div {
        margin-left: 1em;
    }
    form > span {
        width: 50%;
        display: flex;
    }
    .container .line {
        display: flex;
        justify-content: space-evenly;
        flex-flow: wrap;
        margin: 15px 0;
    }

    .container .line span {
        width: 45%;
        display: flex;
        justify-content: flex-end;
    }

    .container .line span:nth-child(1) {
        align-items: center;
    }

    .container .line span:nth-child(2) {
        justify-content: start;
    }

    .container .line:nth-child(6) span:nth-child(1),
    .container .line:nth-child(7) span:nth-child(1),
    .container .line:nth-child(8) span:nth-child(1){
        align-items: flex-start;
    }

    .container .line:nth-child(6) span:nth-child(2),
    .container .line:nth-child(7) span:nth-child(2) {
        flex-direction: column;
    }

    div > h4 {
        display: flex;
        font-weight: 600;
    }
    form input, form textarea{
        padding: 5px;
        box-sizing: border-box;
        font-family: Roboto Slab,RobotoDraft,Helvetica,Arial,sans-serif;
    } 
    form input:not([type=submit]){
        flex:1;
    }
    form select{
        background-color:#e9e9ed;
        border: none;
        padding: 5px 10px;
        font-size: 13px;
    }
    form input[type=submit]{
        color: white;
        background-color: #6ba2ce;
        border: none;
        padding: 5px 10px;
        font-size: 16px;
        &:hover{
            cursor: pointer;
        }
    }
    div + div {
        display: flex;
        flex-direction: column;
    }
    textarea{
        flex: 1;
    }
    div.container{
        background-color:#f3f3f3;
        padding: 20px;
        border-radius: 3px;
    }

    // Responsive

    @media (max-width: 600px) {
        form {
            flex-direction: column;
        }
        form .line {
            display: block;
        }
        form > div {
            width: auto;
        }
        form > div + div {
            margin: 1em 0.2em;
            order: -1;
        }
        .container{
            padding: 10px !important;
        }
        .container .line span:nth-child(1){
            text-align: right;
        }
        input {
            width: 100%;
        }
        form input[type=radio], form input[type=checkbox] {
            display: inline-block;
            width: 10%;
        }
        form label{
            display: inline-block;
            width: 16% !important;
        }
    }
}
    


